<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
    <h1 class="h1">Fornecedores</h1>
    
    </div>
   
    <table id="example" class="display">
        <a href="/provideradd"><button type="button" class="btn">Cadastrar Fornecedor</button></a>
        <thead>
            <tr class="cabeçalho">
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody class="body-table">
            {{#each providers}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                  <td>
                    <form action="/deleteprovider" method="POST" style="display: inline;"  onsubmit="confirmarDelecao(event, this)">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" style="border: none; background:none;">
                        <i class='bx bxs-trash-alt'></i>
                    </button>
                           
                    </form>
                 
                    <a href="/providerupdate/{{this.id}}"><i class='bx bx-edit'></i></a>

                </td>

            </tr>

            {{/each}}
        </tbody>

    </table>
</body>
<script>
    $(document).ready(function () {
        $('#example').DataTable();

    });
</script>

</html>